## Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import nltk
from nltk.corpus import stopwords
import re

## Data

In [2]:
df_a = pd.read_csv(r'C:\Users\stan\mimic-iii-data\ADMISSIONS.csv.gz')  # length of stay and id's
df_e = pd.read_csv(r'C:\Users\stan\mimic-iii-data\NOTEEVENTS.csv.gz')  # text data
df_p = pd.read_csv(r'C:\Users\stan\mimic-iii-data\PROCEDURES_ICD.csv.gz')  # procedure code for each patients
df_dp = pd.read_csv(r'C:\Users\stan\mimic-iii-data\D_ICD_PROCEDURES.csv.gz')  # procedure name
df_d = pd.read_csv(r'C:\Users\stan\mimic-iii-data\DIAGNOSES_ICD.csv.gz')  # diagnosis code for each patient
df_dd = pd.read_csv(r'C:\Users\stan\mimic-iii-data\D_ICD_DIAGNOSES.csv.gz')  # diagnosis name
df_pa = pd.read_csv(r'C:\Users\stan\mimic-iii-data\PATIENTS.csv.gz') # patients' information
df_is = pd.read_csv(r'C:\Users\stan\mimic-iii-data\ICUSTAYS.csv.gz')  # icu stay length

c:\users\stan\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Taking one patient group

In [3]:
'''Only considering the patients who were discharged to Home Healthcare'''

df_hhc = df_a.loc[df_a.DISCHARGE_LOCATION == "HOME HEALTH CARE"]
df = pd.DataFrame()
df = df_hhc[["SUBJECT_ID", "HADM_ID","MARITAL_STATUS", "ADMITTIME", "DISCHTIME"]]
df.dropna(inplace = True)
df.reset_index(inplace = True, drop = True)
df.head()

c:\users\stan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,SUBJECT_ID,HADM_ID,MARITAL_STATUS,ADMITTIME,DISCHTIME
0,23,152223,MARRIED,2153-09-03 07:15:00,2153-09-08 19:10:00
1,23,124321,MARRIED,2157-10-18 19:34:00,2157-10-25 14:00:00
2,28,162569,MARRIED,2177-09-01 07:15:00,2177-09-06 16:00:00
3,30,104557,MARRIED,2172-10-14 14:17:00,2172-10-19 14:37:00
4,34,144319,MARRIED,2191-02-23 05:23:00,2191-02-25 20:20:00

### Marital Status

In [4]:
'''Separating the marital status into categorical columns'''

for column in df["MARITAL_STATUS"].unique():
    df[column] = 0

for key in df["MARITAL_STATUS"].unique():
    for (i, value) in enumerate(df["MARITAL_STATUS"].values):
        if str(value) == key:
            df[key][i] = 1
df.drop("MARITAL_STATUS", axis = 1, inplace = True)
df.reset_index(inplace = True, drop = True)
df.head()

c:\users\stan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\stan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
c:\users\stan\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3417: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\users\stan\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,MARRIED,DIVORCED,SINGLE,SEPARATED,WIDOWED,UNKNOWN (DEFAULT),LIFE PARTNER
0,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,1,0,0,0,0,0,0
1,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,1,0,0,0,0,0,0
2,28,162569,2177-09-01 07:15:00,2177-09-06 16:00:00,1,0,0,0,0,0,0
3,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,1,0,0,0,0,0,0
4,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,1,0,0,0,0,0,0

### IDs, Text input and Output (Length of stay)

In [5]:
df["LENGTH_OF_STAY"] = (pd.to_datetime(df["DISCHTIME"]) - pd.to_datetime(df["ADMITTIME"])).dt.days
df = df.merge(df_e[["HADM_ID","TEXT"]], left_on = "HADM_ID", right_on = "HADM_ID")
df.drop(['DISCHTIME', 'ADMITTIME'], 1, inplace = True)
df.head()

c:\users\stan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,SUBJECT_ID,HADM_ID,MARRIED,DIVORCED,SINGLE,SEPARATED,WIDOWED,UNKNOWN (DEFAULT),LIFE PARTNER,LENGTH_OF_STAY,TEXT
0,23,152223,1,0,0,0,0,0,0,5,Admission Date: [**2153-9-3**] D...
1,23,152223,1,0,0,0,0,0,0,5,Sinus rhythm\nMarked left axis deviation\nRBBB...
2,23,152223,1,0,0,0,0,0,0,5,Sinus rhythm\nSupraventricular extrasystoles\n...
3,23,152223,1,0,0,0,0,0,0,5,Sinus rhythm\nMarked left axis deviation\nRBBB...
4,23,152223,1,0,0,0,0,0,0,5,Sinus arrhythmia\nLeft axis deviation\nIV cond...

In [6]:
df.TEXT[0]

'Admission Date:  [**2153-9-3**]              Discharge Date:   [**2153-9-8**]\n\nDate of Birth:  [**2082-7-17**]             Sex:   M\n\nService: CARDIOTHORACIC\n\nAllergies:\nPatient recorded as having No Known Allergies to Drugs\n\nAttending:[**First Name3 (LF) 1505**]\nChief Complaint:\nChest pain, SOB, positive ETT\n\nMajor Surgical or Invasive Procedure:\n[**2153-9-3**] Four vessel coronary artery bypass grafting(LIMA to LAD,\nSVG to Diagonal, SVG to OM, SVG to PDA)\n\nHistory of Present Illness:\nThis is a 71 year old male with known CAD. He underwent PTCA to\nLAD and diagonal in [**2145**]. Prior to hernia repair operation, an\nETT in [**2153-7-27**] was notable for EKG changes. An ECHO in [**Month (only) 205**]\n[**2153**] was notable for mild MR [**First Name (Titles) **] [**Last Name (Titles) 1192**] AS. The [**Location (un) 109**] was\nestimated at 1.1 cm2 with peak/mean gradients of 34 and 22 mmHg.\nThe was mild concentric LVH with an LVEF of 60%. He was\nsubsequently referred for cardiac catheterization. This was\nperformed at the [**Hospital1 18**] on [**2153-8-16**]. Angiography showed a right\ndominant system with 80% ostial LAD lesion; first diagonal had a\n60% stenosis; the circumflex had a 60% lesion while the RCA had\na 40% stenosis. There was only mild AS with [**First Name8 (NamePattern2) **] [**Location (un) 109**] of 1.8 cm2\nand mean gradient of 18mmHg. Left ventriculogram showed\npreserved LV function. Based on the above results, he was\nreferred for CABG.\n\nPast Medical History:\nCAD - s/p PTCA, HTN, Hypercholesterolemia, BPH, Hernia,\nDecreased hearing, s/p L knee arthroscopy, s/p appy\n\nSocial History:\n50 year history of pipe smoking. Admits to [**5-2**] ETOH drinks per\nweek.\n\nFamily History:\nNo premature CAD\n\nPhysical Exam:\nTemp 98.0, BP 126/74, HR 61, Resp 18(sat 98% on RA)\nGeneral: elderly male in NAD\nNeck: supple, no JVD\nHEENT: benign\nLungs: clear bilaterally\nHeart: regular rate and rhythm, 4/6 SEM radiating to carotids\nAbdomen: benign\nExt: warm, no edema, no varicosities\nNeuro: nonfocal\nPulses: 2+ distally, no femoral bruits\n\nPertinent Results:\n[**2153-9-8**] 10:00AM BLOOD Hct-26.1*\n[**2153-9-5**] 05:55AM BLOOD WBC-8.6 RBC-2.89* Hgb-9.3* Hct-25.7*\nMCV-89 MCH-32.0 MCHC-36.0* RDW-13.8 Plt Ct-113*\n[**2153-9-6**] 05:45AM BLOOD UreaN-20 Creat-0.8 K-3.8\n[**2153-9-5**] 05:55AM BLOOD Glucose-115* UreaN-20 Creat-0.7 Na-140\nK-4.1 Cl-107 HCO3-27 AnGap-10\n[**2153-9-6**] 05:45AM BLOOD Mg-1.9\n\nBrief Hospital Course:\nPatient was admitted and underwent four vessel CABG on [**2153-9-3**] by\nDr. [**Last Name (STitle) **]. Surgery was uneventful - see op note for further\ndetails. Following the operation, he was brought to the CSRU in\nstable condition. There he was weaned from inotropic support and\nwas extubated without difficulty. He was noted to have some\nventricular ectopy which improved after intravenous Lidocaine\nand PO beta blockade. K and Mg levels were monitored closely and\nrepleted per protocol. He otherwise maintained stable\nhemodynamics. Units of PRBCs were intermittently transfused to\nmaintain hematocrit close to 30%. On POD 1, he transferred to\nthe SDU.  He remained in a normal sinus - no further ventricular\nectopy was noted. Beta blockade was slowly advanced as\ntolerated. Over several days, he made clinical improvements. By\ndischarge, he was near his preoperative weight with oxygen\nsaturations over 96% on room air. He also worked daily with\nphysical therapy and made steady progress. His hospital course\nwas otherwise uneventful and he was cleared for discharge to\nhome on POD 5. He is scheduled to follow up with Dr. [**Last Name (STitle) **] and\nhis local cardiologist in approximately 4 weeks.\n\nMedications on Admission:\nIsordil 20 [**Hospital1 **], Lescol 40 qd, Accupril 40 qd, Hytrin 5 qd, HCTZ\n12.5 [**Last Name (LF) **], [**First Name3 (LF) **] 325 qd, Cartia 80 qd, KCL 20 [**Hospital1 **], TNG prn\n\nDischarge Medications:\n1. Docusate Sodium 100 mg Capsule Sig: One (1) Capsule PO BID (2\ntimes a day).\nDisp:*60 Capsule(s)* Refills:*2*\n2. Aspirin 81 mg Tablet, Delayed Release (E.C.) Sig: One (1)\nTablet, Delayed Release (E.C.) PO DAILY (Daily).\nDisp:*30 Tablet, Delayed Release (E.C.)(s)* Refills:*2*\n3. Terazosin 5 mg Capsule Sig: One (1) Capsule PO HS (at\nbedtime).\nDisp:*30 Capsule(s)* Refills:*2*\n4. Ferrous Gluconate 300 mg Tablet Sig: One (1) Tablet PO DAILY\n(Daily) for 1 months.\nDisp:*30 Tablet(s)* Refills:*0*\n5. Metoprolol Tartrate 50 mg Tablet Sig: One (1) Tablet PO BID\n(2 times a day).\nDisp:*60 Tablet(s)* Refills:*2*\n6. Furosemide 20 mg Tablet Sig: One (1) Tablet PO DAILY (Daily)\nfor 10 days.\nDisp:*10 Tablet(s)* Refills:*0*\n7. Potassium Chloride 20 mEq Tab Sust.Rel. Particle/Crystal Sig:\nOne (1) Tab Sust.Rel. Particle/Crystal PO DAILY (Daily) for 10\ndays.\nDisp:*10 Tab Sust.Rel. Particle/Crystal(s)* Refills:*0*\n8. Percocet 5-325 mg Tablet Sig: 1-2 Tablets PO every 4-6 hours\nfor 10 days.\nDisp:*50 Tablet(s)* Refills:*0*\n9. Lescol 40 mg Capsule Sig: One (1) Capsule PO once a day.\nDisp:*30 Capsule(s)* Refills:*2*\n\n\nDischarge Disposition:\nHome With Service\n\nFacility:\n[**Hospital1 1474**] VNA\n\nDischarge Diagnosis:\ns/p CABGx4 (Lima->LAD, SVG->Diag, SVG->OM, SVG->PDA)\nPMH: CAD s/p PCI, HTN, ^chol, BPH, Hernia repair\n\n\nDischarge Condition:\nGood\n\n\nDischarge Instructions:\nkeep wounds clean and dry. OK to shower, no bathing or swimming.\nTake all medications as prescribed.\nCall for any fever, redness or drainage from wounds\n\nFollowup Instructions:\n[**Hospital 409**] clinic in 1 week\nDr [**Last Name (STitle) **] in [**3-30**] weeks\nDr [**Last Name (STitle) **] in 4 weeks\n\n\n\nCompleted by:[**2153-9-20**]'

### Length of ICU stay (Input)

In [7]:
df2 = df
df2 = df2.merge(df_is["LOS"], left_on = "HADM_ID", right_on = df_is["HADM_ID"])
df2.rename(columns={"LOS": "ICU_LOS"}, inplace = True)
df2.head()

,SUBJECT_ID,HADM_ID,MARRIED,DIVORCED,SINGLE,SEPARATED,WIDOWED,UNKNOWN (DEFAULT),LIFE PARTNER,LENGTH_OF_STAY,TEXT,ICU_LOS
0,23,152223,1,0,0,0,0,0,0,5,Admission Date: [**2153-9-3**] D...,1.2641
1,23,152223,1,0,0,0,0,0,0,5,Sinus rhythm\nMarked left axis deviation\nRBBB...,1.2641
2,23,152223,1,0,0,0,0,0,0,5,Sinus rhythm\nSupraventricular extrasystoles\n...,1.2641
3,23,152223,1,0,0,0,0,0,0,5,Sinus rhythm\nMarked left axis deviation\nRBBB...,1.2641
4,23,152223,1,0,0,0,0,0,0,5,Sinus arrhythmia\nLeft axis deviation\nIV cond...,1.2641

### Diagnoses

In [8]:
df3 = df2
df3 = df3.merge(df_d[["ICD9_CODE"]], left_on = "HADM_ID", right_on = df_d["HADM_ID"], suffixes = ("_PROCEDURES", "_DIAGNOSES"))
df3.head()

,SUBJECT_ID,HADM_ID,MARRIED,DIVORCED,SINGLE,SEPARATED,WIDOWED,UNKNOWN (DEFAULT),LIFE PARTNER,LENGTH_OF_STAY,TEXT,ICU_LOS,ICD9_CODE
0,23,152223,1,0,0,0,0,0,0,5,Admission Date: [**2153-9-3**] D...,1.2641,41401
1,23,152223,1,0,0,0,0,0,0,5,Admission Date: [**2153-9-3**] D...,1.2641,4111
2,23,152223,1,0,0,0,0,0,0,5,Admission Date: [**2153-9-3**] D...,1.2641,4241
3,23,152223,1,0,0,0,0,0,0,5,Admission Date: [**2153-9-3**] D...,1.2641,V4582
4,23,152223,1,0,0,0,0,0,0,5,Admission Date: [**2153-9-3**] D...,1.2641,2724

In [9]:
df4 = df3
df4 = df4.groupby('HADM_ID').agg({'SUBJECT_ID': 'first',
                                  'ICD9_CODE': 'count',
                                  'LENGTH_OF_STAY': 'first',
                                  'ICU_LOS': 'first',
                                  'TEXT': 'first',
                                  'MARRIED': 'first', 
                                  'DIVORCED': 'first', 
                                  'SINGLE': 'first',
                                  'SEPARATED': 'first', 
                                  'WIDOWED': 'first', 
                                  'UNKNOWN (DEFAULT)': 'first', 
                                  'LIFE PARTNER': 'first'})
df4.rename(columns={"ICD9_CODE": "NUMBER_OF_DIAGNOSIS"}, inplace= True)
df4.head()

,SUBJECT_ID,NUMBER_OF_DIAGNOSIS,LENGTH_OF_STAY,ICU_LOS,TEXT,MARRIED,DIVORCED,SINGLE,SEPARATED,WIDOWED,UNKNOWN (DEFAULT),LIFE PARTNER
HADM_ID,,,,,,,,,,,,
100009,533,144,4,2.4908,Admission Date: [**2162-5-16**] ...,1,0,0,0,0,0,0
100012,60039,165,10,3.5763,Admission Date: [**2177-3-12**] ...,1,0,0,0,0,0,0
100020,9973,738,10,1.1011,Admission Date: [**2142-11-30**] ...,1,0,0,0,0,0,0
100028,53456,99,6,2.0321,Admission Date: [**2142-12-23**] ...,0,0,1,0,0,0,0
100034,51495,88,3,1.1599,Admission Date: [**2164-4-23**] ...,1,0,0,0,0,0,0

### Procedures

In [26]:
df5 = df4
df5 = df5.merge(df_p["ICD9_CODE"], left_on = "HADM_ID", right_on = df_p["HADM_ID"])
df5.head()

,HADM_ID,SUBJECT_ID,NUMBER_OF_DIAGNOSIS,LENGTH_OF_STAY,ICU_LOS,TEXT,MARRIED,DIVORCED,SINGLE,SEPARATED,WIDOWED,UNKNOWN (DEFAULT),LIFE PARTNER,ICD9_CODE
0,100009,533,144,4,2.4908,Admission Date: [**2162-5-16**] ...,1,0,0,0,0,0,0,3613
1,100009,533,144,4,2.4908,Admission Date: [**2162-5-16**] ...,1,0,0,0,0,0,0,3615
2,100009,533,144,4,2.4908,Admission Date: [**2162-5-16**] ...,1,0,0,0,0,0,0,3795
3,100009,533,144,4,2.4908,Admission Date: [**2162-5-16**] ...,1,0,0,0,0,0,0,3961
4,100012,60039,165,10,3.5763,Admission Date: [**2177-3-12**] ...,1,0,0,0,0,0,0,3615

In [27]:
df5 = df5.groupby('HADM_ID').agg({'SUBJECT_ID': 'first',
                                  'ICD9_CODE': 'count',
                                  'NUMBER_OF_DIAGNOSIS': 'first',
                                  'LENGTH_OF_STAY': 'first',
                                  'ICU_LOS': 'first',
                                  'TEXT': 'first',
                                  'MARRIED': 'first', 
                                  'DIVORCED': 'first', 
                                  'SINGLE': 'first',
                                  'SEPARATED': 'first', 
                                  'WIDOWED': 'first', 
                                  'UNKNOWN (DEFAULT)': 'first', 
                                  'LIFE PARTNER': 'first'})
df5.rename(columns={"ICD9_CODE": "NUMBER_OF_PROCEDURES"}, inplace= True)
df5.dropna(inplace = True)
df5.head()

,SUBJECT_ID,NUMBER_OF_PROCEDURES,NUMBER_OF_DIAGNOSIS,LENGTH_OF_STAY,ICU_LOS,TEXT,MARRIED,DIVORCED,SINGLE,SEPARATED,WIDOWED,UNKNOWN (DEFAULT),LIFE PARTNER
HADM_ID,,,,,,,,,,,,,
100009,533,4,144,4,2.4908,Admission Date: [**2162-5-16**] ...,1,0,0,0,0,0,0
100012,60039,4,165,10,3.5763,Admission Date: [**2177-3-12**] ...,1,0,0,0,0,0,0
100028,53456,5,99,6,2.0321,Admission Date: [**2142-12-23**] ...,0,0,1,0,0,0,0
100034,51495,3,88,3,1.1599,Admission Date: [**2164-4-23**] ...,1,0,0,0,0,0,0
100037,58947,13,6846,46,1.8369,Admission Date: [**2183-3-23**] ...,1,0,0,0,0,0,0

### Function: text processing

In [28]:
replace_space = re.compile('[!"#$%&()*+,-./:;<=>?@[\]^_`{|}~]')
clear_symbols = re.compile('[^0-9a-z#+_]')
remove_stopwords = set(stopwords.words('english'))
def clean_text(text):
    text = text.lower()
    text = replace_space.sub(' ', text)
    text = clear_symbols.sub(' ', text)
    text = ' '.join(word for word in text.split() if word not in remove_stopwords)
    return text

df5.TEXT = df5.TEXT.apply(clean_text)
df5.reset_index(inplace = True)
df5.head()

,HADM_ID,SUBJECT_ID,NUMBER_OF_PROCEDURES,NUMBER_OF_DIAGNOSIS,LENGTH_OF_STAY,ICU_LOS,TEXT,MARRIED,DIVORCED,SINGLE,SEPARATED,WIDOWED,UNKNOWN (DEFAULT),LIFE PARTNER
0,100009,533,4,144,4,2.4908,admission date 2162 5 16 discharge date 2162 5...,1,0,0,0,0,0,0
1,100012,60039,4,165,10,3.5763,admission date 2177 3 12 discharge date 2177 3...,1,0,0,0,0,0,0
2,100028,53456,5,99,6,2.0321,admission date 2142 12 23 discharge date 2142 ...,0,0,1,0,0,0,0
3,100034,51495,3,88,3,1.1599,admission date 2164 4 23 discharge date 2164 4...,1,0,0,0,0,0,0
4,100037,58947,13,6846,46,1.8369,admission date 2183 3 23 discharge date 2183 5...,1,0,0,0,0,0,0

In [29]:
df5.TEXT[0]

'admission date 2162 5 16 discharge date 2162 5 21 date birth 2101 7 30 sex service cardiothoracic allergies known allergies adverse drug reactions attending first name3 lf 1505 chief complaint angina major surgical invasive procedure 2162 5 17 cabgx4 lima lad rsvg diagonal posterior descending artery obtuse marginal 2162 5 19 right atrial lead placement history present illness 60yo man known coronary disease ami 2143 name prefix prefixes last name prefixes lcx 2155 well last week developed angina initially exertion progressed rest angina episode releived sl ntg episode lasting 5 minutes presented cardiologist treatment admitted mwmc cardiac catheterization revealed 3 vessel disease transferred hospital1 18 coronary bypass grafting cardiac catheterization date 2162 5 11 place mwmc lad chronic total occlusion proximally distal filling via collaterals rca chronic total occlusion non dominant rca 90 lcx new complex 90 stenosis prox lcx involving bifurcation lcx proper large om2 old stent lcx widely patent mod lv systolic dysfx anterior apical infero apical ak reduced ef 30 lvedp 36mmhg valvular dz past medical history cad ami 2143 7 3 name prefix prefixes last name prefixes lcx 6 2155 cardiomyopathy ef 35 45 depending study ventricular tachycardia p aicd 8 2155 atrial flutter p ablation 8 2155 hypertension dyslipidemia insulin dependent diabetes mellitus obesity conduction disease lafb peripheral vascular disease p right fem doctor last name bypas 3 2161 left leg claudication right thigh tumor p radiation excision 2141 social history race caucasian last dental exam lives wife occupation name2 ni 56028 owns company tobacco 2ppd x20 yrs quit 2143 etoh occaisional family history father died 50yo cirrhosis mother died 42yo mi physical exam pulse 58 resp 16 o2 sat 97 ra b p right 124 76 left height 5 62 weight 259 lbs general skin dry x intact x heent perrla x eomi x neck supple x full rom x chest lungs clear bilaterally x heart rrr x irregular murmur abdomen soft x non distended x non tender x bowel sounds x extremities warm x well perfused x edema none varicosities none x well healed right vein harvest site neuro grossly intact pulses femoral right 2 left 2 dp right 2 left 2 pt name ni 167 2 left 2 radial right 2 left 2 carotid bruit none right 2 left 2 pertinent results 2162 5 17 prebypass left atrium dilated spontaneous echo contrast seen body left atrium left atrial appendage spontaneous echo contrast seen body right atrium atrial septal defect seen 2d color doppler left ventricular wall thicknesses normal left ventricular cavity severely dilated moderate regional left ventricular systolic dysfunction hypokinesis apex septum overall left ventricular systolic function mildly depressed lvef 30 35 estimated cardiac index depressed 2 0l min m2 focal abnormalities seen mid apical anteroseptal wall apical anterior wall mid apical inferoseptal wall apical inferior wall thrombus seen lv apex right ventricular chamber size free wall motion normal descending thoracic aorta mildly dilated aortic valve leaflets 3 mildly thickened focal calcification non coronary cusp moves poorly minimally increased gradient consistent minimal aortic valve stenosis aortic regurgitation seen mitral valve leaflets mildly thickened mild moderate 1 3 mitral regurgitation seen mitral valve prolapse flail segments pericardial effusion postbypass patient paced phenylephrine infusion biventricular systolic function unchanged mitral regurgitation remains mild moderate thoracic aorta intact post decannulation 2162 5 20 05 00am blood wbc 10 9 rbc 3 73 hgb 11 2 hct 31 7 mcv 85 mch 30 1 mchc 35 4 rdw 13 9 plt ct 114 2162 5 20 05 00am blood glucose 151 urean 19 creat 0 7 na 135 k 3 9 cl 100 hco3 28 angap 11 2162 5 16 05 00pm blood alt 66 ast 55 ld ldh 206 alkphos 73 totbili 0 3 brief hospital course patient admitted hospital brought operating room 2162 5 17 patient underwent coronary artery bypass graft x 4 see operative note details overall patient tolerated procedure well post operatively transferred cvicu stable condition recovery invasive monitoring pod 1 found patient extubated alert oriented breathing comfortably electrophysiology team consulted due non capturing atrial lead permanent pacemaker initially interrogated epicardial wires removed ventricular lead icd functioning appropriately right atrial lead revised 5 19 without complication follow device clinic hospital1 2 weeks operative note given patient bring follow appointment patient neurologically intact hemodynamically stable inotropic vasopressor support beta blocker initiated patient gently diuresed toward preoperative weight lisinopril restarted better blood pressure patient transferred telemetry floor recovery chest tubes discontinued without complication post operative day 3 patient evaluated physical therapy service assistance strength mobility time discharge pod 4 patient ambulating freely sternal pacer pocket wound healing pain controlled oral analgesics continue 1 week antibiotics per ep p atrial lead placement patient discharged home vna services good condition appropriate follow instructions follow appointments arranged medications admission lisinopril 20 atenolol 100 vytorin 10 2131 qhs fenofibrate 200 asa 325 ntg sl prn insulin nph 22u qam 24u qpm followed last name un insulin humalog ss mvi calcium 600 plavix last dose 2162 5 12 allergies nkda discharge medications 1 fenofibrate 160 mg tablet sig one 1 tablet po day disp 30 tablet refills 0 2 simvastatin 80 mg tablet sig one 1 tablet po day disp 30 tablet refills 2 3 ezetimibe 10 mg tablet sig one 1 tablet po hs bedtime disp 30 tablet refills 1 4 multivitamin tablet sig one 1 tablet po daily daily disp 100 tablet refills 0 5 docusate sodium 100 mg capsule sig one 1 capsule po bid 2 times day 6 magnesium hydroxide 400 mg 5 ml suspension sig thirty 30 ml po hs bedtime needed constipation 7 ranitidine hcl 150 mg tablet sig one 1 tablet po bid 2 times day disp 60 tablet refills 2 8 oxycodone acetaminophen 5 325 mg tablet sig 1 2 tablets po q4h every 4 hours needed pain disp 65 tablet refills 0 9 aspirin 81 mg tablet delayed release e c sig one 1 tablet delayed release e c po daily daily disp 100 tablet delayed release e c refills 2 10 cephalexin 500 mg capsule sig one 1 capsule po q6h every 6 hours 7 days disp 28 capsule refills 0 11 lasix 40 mg tablet sig one 1 tablet po day 7 days disp 7 tablet refills 0 12 potassium chloride 20 meq tablet er particles crystals sig one 1 tablet er particles crystals po day 7 days disp 7 tablet er particles crystals refills 0 13 metoprolol tartrate 25 mg tablet sig one 1 tablet po bid 2 times day disp 60 tablet refills 2 14 acetaminophen 325 mg tablet sig two 2 tablet po q4h every 4 hours needed pain 15 nph insulin human recomb 100 unit ml suspension sig one 1 subcutaneous twice day take 22 units 24 units pm disp qs 1 month refills 0 16 lisinopril 5 mg tablet sig one 1 tablet po daily daily disp 30 tablet refills 2 discharge disposition home service facility location un 1110 vna discharge diagnosis coronary artery disease cad ami 2143 7 3 name prefix prefixes last name prefixes lcx 6 2155 cardiomyopathy ef 35 45 ventricular tachycardia p aicd 8 2155 atrial flutter p ablation 8 2155 hypertension dyslipidemia insulin dependent diabetes mellitus obesity conduction disease lafb peripheral vascular disease p right fem doctor last name bypas 3 2161 left leg claudication right thigh tumor p radiation excision 2141 discharge condition alert oriented x3 nonfocal ambulating steady gait incisional pain managed percocet incisions sternal healing well erythema drainage leg left healing well erythema drainage 1 edema discharge instructions please shower daily including washing incisions gently mild soap baths swimming cleared surgeon look incisions daily redness drainage please lotions cream powder ointments incisions morning weigh evening take temperature written chart driving approximately one month taking narcotics discussed follow appointment surgeon able drive lifting 10 pounds 10 weeks please call questions concerns telephone fax 1 170 please call cardiac surgery office questions concerns telephone fax 1 170 answering service contact call person hours followup instructions scheduled following appointments surgeon dr last name stitle 6 10 1 45pm telephone fax 1 170 cardiologist dr last name stitle 1295 6 14 3 30pm ep hospital 19721 clinic hospital1 1 3 weeks call appointment telephone fax 1 6256 wound check appointment hospital medical office building telephone fax 1 170 date time 2162 5 26 12 00 please call schedule appointments primary care dr last name stitle 27187 4 6 weeks telephone fax 1 3658 follow hospital hospital 982 clinic arranged patient please call cardiac surgery office questions concerns telephone fax 1 170 answering service contact call person hours completed 2162 5 24'

### Dropping texts shorter than the max sequence

In [14]:
df6 = df5
max_sequence = 300
for (pos, text) in enumerate(df6["TEXT"].values):
    text_length = len(text.split())
    if text_length <= (max_sequence):
        df6.drop([pos], axis = 0, inplace = True)
df6.head()

,HADM_ID,SUBJECT_ID,NUMBER_OF_PROCEDURES,NUMBER_OF_DIAGNOSIS,LENGTH_OF_STAY,ICU_LOS,TEXT,MARRIED,DIVORCED,SINGLE,SEPARATED,WIDOWED,UNKNOWN (DEFAULT),LIFE PARTNER
0,100009,533,4,144,4,2.4908,admission date 2162 5 16 discharge date 2162 5...,1,0,0,0,0,0,0
1,100012,60039,4,165,10,3.5763,admission date 2177 3 12 discharge date 2177 3...,1,0,0,0,0,0,0
2,100028,53456,5,99,6,2.0321,admission date 2142 12 23 discharge date 2142 ...,0,0,1,0,0,0,0
3,100034,51495,3,88,3,1.1599,admission date 2164 4 23 discharge date 2164 4...,1,0,0,0,0,0,0
4,100037,58947,13,6846,46,1.8369,admission date 2183 3 23 discharge date 2183 5...,1,0,0,0,0,0,0

### Get sample from population Text

In [15]:
texts_data = []
for (i, text) in enumerate(df6["TEXT"].values):
    text_length = None
    chosen_text_splitted = None
    chosen_text_whole = None
    text_length = len(text.split())
    random_key = np.random.randint(0, (text_length - max_sequence))
    chosen_text_splitted = text.split()[random_key: (random_key + max_sequence)]
    chosen_text_whole = ' '.join(chosen_text_splitted)
    df6["TEXT"][i] = chosen_text_whole
df6.head()

c:\users\stan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,HADM_ID,SUBJECT_ID,NUMBER_OF_PROCEDURES,NUMBER_OF_DIAGNOSIS,LENGTH_OF_STAY,ICU_LOS,TEXT,MARRIED,DIVORCED,SINGLE,SEPARATED,WIDOWED,UNKNOWN (DEFAULT),LIFE PARTNER
0,100009,533,4,144,4,2.4908,grafting cardiac catheterization date 2162 5 1...,1,0,0,0,0,0,0
1,100012,60039,4,165,10,3.5763,6 mchc 36 6 rdw 13 5 2177 3 12 04 05pm hba1c 5...,1,0,0,0,0,0,0
2,100028,53456,5,99,6,2.0321,bolus lr bp improved 90 100 given ivf needed m...,0,0,1,0,0,0,0
3,100034,51495,3,88,3,1.1599,1 diuresed towards preoperative weight pod 1 t...,1,0,0,0,0,0,0
4,100037,58947,13,6846,46,1.8369,73 p 83 r 20 o2 975 ra general alert oriented ...,1,0,0,0,0,0,0

In [16]:
df6.to_csv('data_extracted.csv')